* {
    margin: 0;                  /*This margin and padding will be applicable for all the html elements*/
    padding: 0;
    font-family: 'Poppins', sans-serif;   
    scroll-behavior: smooth;
}
.student-title {
    border-radius: 10px;
    text-align: center;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 600;
    color: #222;
  }
  .student-sub {
    margin-bottom: 20px;
  }
  
  .students-container {
    text-align: center;
    margin-top: 30px;
  }
  .students {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .image {
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    position: relative;
  }
  .image img {
    border-radius: 10px;
    margin: 20px;
    display: block;
    width: 250px;
    height: 300px;
  }
  .desc {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0a2249;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.2;
    transition: opacity 0.5s ease;
    visibility: hidden;
  }
  .image:hover .desc{
    opacity: 1;
    visibility: visible;
  }
  .image:hover img {
    opacity: 0.5;
  }

nav{
    background: #0a2249;   
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}
nav ul li{
    float: left;
    display: block;
    background:#0a2249;
    margin: 0 5px;


}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 10px 25px;
}
nav ul li a:hover{
    background-color: rgb(124, 120, 120);
    border-radius: 5px;
    box-shadow: 0 0 5px #fff ,0 0 5px #fff;
                

}

nav ul ul li a:hover{
    background-color: rgb(124, 120, 120);
    box-shadow: 0 0 5px #fff, 0 0 5px #fff;
}


nav ul ul{
    position: absolute;
    top: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;

}
nav ul li:hover >ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}
nav ul ul li a{
    line-height: 50px;
    padding: 8px 40px;
}
nav .logo{
    margin-top: 5px;
    margin-bottom: -15px;
    color: #ccc;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;

}
nav .logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #ede6e8;
    color: #f4e7eb;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
span.fas.fa-home{
    margin-left: 10px;
    font-size: 15px;
}
span.fas.fa-plus{
    margin-left: 20px;
    font-size: 15px;
}

.show, .nav-icon, input{
    display: none;
}
 @media all and (max-width:768px) {
    nav ul{
        margin-left: 0px;
        float: left;

    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top :70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    .show{
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: black;
    }
    .nav-icon{
        display:block;
        color: #fff;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
    .header .text-box h1{
        font-size: 40px;
        margin-top: 60px;
    }
    .header .text-box p{
        font-size: 10px;
    }
 }

footer{
    width: 100%;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #17263c, #3a506b);
    color: #f5d061;

    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
footer .footer-row p{
    color: #fff;
}
.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col{
    flex-basis: 20%;
    padding: 10px;
}
.footer-col:nth-child(2), .footer-col:nth-child(3){
    flex-basis: 15%;
}

.footer-col .logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #f9004d;
    color: #f9004d;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.footer-col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-col p{
    font-size: 0.8rem;
}
.footer-col .passage p{
    font-size: 16px;
    color: #ccc;
    line-height: 1.5;
    margin: 20px 0 0; /* added margin-top of 20px */
    padding: 0;
    text-align: justify;
    font-weight: 400;
    font-family: Arial, sans-serif;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{  
    text-decoration: none;
    color: #fff;
}
footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
.footer-col form .fa-solid{
    font-size: 1rem;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
footer form button .fa-solid{
    font-size: 1rem;
    color: #ccc;
}
footer .social-icons a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
    text-decoration: none;
}
footer .social-icons a:hover{
    transform: scale(1.1);
    background: #f5d061;
    transition: 0.4s;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;

}
.copyrights p{
    color: #ccc;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -25px;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 0%;
    overflow: hidden;
}
.footer-row h3 .underline span{
    width: 25px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{        /*This css for animations in footer*/
    0%{
        left: -20px;
    }
    0%{
        left: 100px;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .footer-col{
        flex-basis: 100%;
    }
    .footer-col:nth-child(2), .footer-col:nth-child(3){
        flex-basis: 100%;
    }
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #1aeeef;
    border-radius: 6px;
}
